body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #16151d;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  display: flex;
  justify-content: space-around;
}

header input{
  min-height: 25px;
  max-height: 40px;
  min-width: 120px;
  max-width: 180px;
  border: #333 solid 2px;
  background: #6e6e6e;
  border-radius: 15pt;
  padding-left: 10px;
  color: #fff;
  outline: none;
}

header input:focus{
  border: #fff 2px solid;
}

header input:focus::placeholder {
  color: #6e6e6e;
}

header input::placeholder{
  color: #fff;
}

div.search img{
  padding-left: 5px;
  position: relative;
}

div.search{
  display: flex;
  align-items: center;
}

div.search div{
  display:none;
}

div.search div.popup{
  display:block;
}

div.search .popup{
  display:flex;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.latest-release {
  margin-bottom: 30px;
}

.box {
  border: black 1px solid;
  border-radius: 2pt;
  background-color: #222020;
}

.manga-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.manga-item {
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.manga-item img {
  max-width: 100%;
  height: auto;
}

.manga-item p {
  margin: 5px 0;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar li a:hover {
  background-color: #555;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  
  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
